/* --------------------------------- DIVIDER STYLE --------------------------------- */
.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

/* --------------------------------- END --------------------------------- */

/* --------------------------------- NAVBAR ELEMENTS STYLE --------------------------------- */

.site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

.infoTable {
    width: 70%;
}

.divTable {
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-header a {
    color: #8e8e8e;
    transition: color .15s ease-in-out;
}

.site-header a:hover {
    color: #fff;
    text-decoration: none;
}

.bi {
    cursor: pointer;
}

/* --------------------------------- END --------------------------------- */

/* --------------------------------- DROP DOWN ITEM STYLE --------------------------------- */

.verified:hover {
    cursor: default;
}

.bi-patch-check-fill {
    color: #1DA1F2;
}

.dropdown .verifiedText {
    color: #8e8e8e;
}

.dropdown .verifiedText:hover {
    background-color: #fff;
    color: #8e8e8e;
}

.dropdown .dropdown-item:hover {
    background-color: #fff;
    color: #8e8e8e;
}

.dropdown li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* --------------------------------- END --------------------------------- */

/* --------------------------------- INDEX STYLE --------------------------------- */

.feature p, h3 {
    text-align: center;
}

.btn {
    background-color: #2C3E50;
    color: #FFF;
    border-color: #2C3E50;
}

.btn:hover {
    background-color: transparent;
    color: #2C3E50;
    border-color: #2C3E50;
}

.site-header {
    background: rgba(102, 108, 116, 0.65);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 9px );
    -webkit-backdrop-filter: blur( 9px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

/* --------------------------------- END --------------------------------- */

/* --------------------------------- EDIT PROFILE STYLE --------------------------------- */

.img-account-profile {
    height: 10rem;
}
.rounded-circle {
    border-radius: 50% !important;
}
.card {
    box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
}
.card .card-header {
    font-weight: 500;
}
.card-header:first-child {
    border-radius: 0.35rem 0.35rem 0 0;
}
.card-header {
    padding: 1rem 1.35rem;
    margin-bottom: 0;
    background-color: rgba(33, 40, 50, 0.03);
    border-bottom: 1px solid rgba(33, 40, 50, 0.125);
}
.form-control, .dataTable-input {
    display: block;
    width: 100%;
    padding: 0.875rem 1.125rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1;
    color: #69707a;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #c5ccd6;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.35rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.nav-borders .nav-link.active {
    color: #0061f2;
    border-bottom-color: #0061f2;
}
.nav-borders .nav-link {
    color: #69707a;
    border-bottom-width: 0.125rem;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0;
    padding-right: 0;
    margin-left: 1rem;
    margin-right: 1rem;
}

.nav .nav-link {
    color: #000;
}

/* --------------------------------- END --------------------------------- */

.required .form-label:after {
    content:"*";
    color:red;
}

/* --------------------------------- Admin Panel Nav --------------------------------- */

.activeAdminPanelNav:hover {
    color: #1DA1F2;
}

/* --------------------------------- END --------------------------------- */

.createTexts {
    color: #1DA1F2;
    text-decoration: none;
}


.createTexts:hover {
    color: #000;
}

@media (min-width: 992px) {
    .rounded-lg-3 { border-radius: .3rem; }
  }

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
}

/* --------------------------------- Customizable Email --------------------------------- */

.customizableEmailContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.emailTitle {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 28px;
}

.emailBtn {
    margin-top: 15px;
    background-color: brown;
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    font-weight: bold;
    color: #FFF;
}



  
  

  